root {
  --toolbar-bgcolor-inactive: color-mix(in oklab, var(--toolbar-bgcolor), white 20%);
}
#tabbrowser-arrowscrollbox, .titlebar-buttonbox, .titlebar-spacer {
  background-image:url("border.png") !important;
  background-repeat:repeat-x;
}
#tabbrowser-arrowscrollbox:-moz-window-inactive, .titlebar-buttonbox:-moz-window-inactive, .titlebar-spacer:-moz-window-inactive {
  background-image:url("border-inactive.png") !important;
  background-repeat:repeat-x;
}
.tab-background {
  background-color:var(--toolbar-bgcolor) !important;
  filter: saturate(25%);
  filter: brightness(150%);
  border-radius:5px !important;
  margin:5px 0px 3px 0px !important;
}

@media (prefers-color-scheme: light) {
  .tab-background {
    background-color:var(--toolbar-bgcolor) !important;
    filter: saturate(25%);
    filter: brightness(90%);
    border-radius:5px !important;
    margin:4px 0px 3px 0px !important;
  }
}

.tabbrowser-tab[selected="true"] .tab-background {
  background-color:var(--toolbar-bgcolor) !important;
  filter: brightness(100%);
  filter: saturate(100%);
}
#tabs-newtab-button {
   background-color:var(--toolbar-bgcolor) !important;
   margin-top:8px !important;
   margin-bottom:3px !important;
   max-width:30px;
   max-height:30px;
   border-radius:5px !important;
}
.titlebar-spacer {
  display:none !important;
}

/* Style and position buttons */
.titlebar-button {
   font: 0px Arial, sans-serif !important;
   margin-bottom:10px !important;
   background-color:transparent !important;
}
.titlebar-button.titlebar-close {
  background-image:url("close.png");
  background-repeat:no-repeat;
  background-position:center;
  padding-right:17px !important;
  padding-left:16px !important;
}
.titlebar-button.titlebar-max {
  background-image:url("maximize.png");
  background-repeat:no-repeat;
  background-position:center;
  padding-right:14px !important;
  padding-left:16px !important;
}
.titlebar-button.titlebar-min {
  background-image:url("minimize.png");
  background-repeat:no-repeat;
  background-position:center;
  padding-right:15px !important;
  padding-left:16px !important;
}

/* Maximized buttons, change min-width to your screen width */
@media (min-width: 1920px) {
   .titlebar-button {
     font: 0px Arial, sans-serif !important;
     margin-bottom:24px !important;
     background-color:transparent !important;
  }
  .titlebar-button.titlebar-close {
    background-image:url("close.png");
    background-repeat:no-repeat;
    background-position:center;
    padding-right:17px !important;
    padding-left:16px !important;
  }
  .titlebar-button.titlebar-restore {
    background-image:url("restore.png");
    background-repeat:no-repeat;
    background-position:center;
    padding-right:14px !important;
    padding-left:16px !important;
  }
  .titlebar-button.titlebar-min {
    background-image:url("minimize.png");
    background-repeat:no-repeat;
    background-position:center;
    padding-right:15px !important;
    padding-left:16px !important;
  }
}

/* Inactive buttons */
.titlebar-button.titlebar-close:-moz-window-inactive {
  background-image:url("close-inactive.png");
}
.titlebar-button.titlebar-max:-moz-window-inactive {
  background-image:url("maximize-inactive.png");
}
.titlebar-button.titlebar-min:-moz-window-inactive {
  background-image:url("minimize-inactive.png");
}

/* Also change this if your screen size isn't 1080p */
@media (min-width: 1920px) {
   .titlebar-button.titlebar-close:-moz-window-inactive {
    background-image:url("close-inactive.png");
  }
  .titlebar-button.titlebar-restore:-moz-window-inactive {
    background-image:url("restore-inactive.png");
  }
  .titlebar-button.titlebar-min:-moz-window-inactive {
    background-image:url("minimize-inactive.png");
  }
}

/* Inactive window dimming fix */

#TabsToolbar:-moz-window-inactive { 
   opacity: 1 !important; 
}

/* Hovered window buttons as a fallback */
.titlebar-button.titlebar-close:hover {
  background-image:url("close-hover.png");
}
.titlebar-button.titlebar-max:hover {
  background-image:url("maximize-hover.png");
}
.titlebar-button.titlebar-min:hover {
  background-image:url("minimize-hover.png");
}
.titlebar-button.titlebar-restore:hover {
  background-image:url("restore-hover.png");
}